form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.logBtn{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: #e99c2e;
    color: black;
}
input{
    width: 300px;
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center;
}