<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../Controller/add.control.php" method="post" style="display: flex; flex-direction:column;">
        <input type="text" name="productName" placeholder="Enter le nom du produit">
        <input type="text" name="productPrice" placeholder="Enter le price du produit">
        <input type="text" name="productImage" placeholder="Enter l'image du produit URL">
        <button type="submit">submit</button>
    </form>
</body>
</html>